:root {
    --blackcolor: #000;
    --whitecolor: #fff; 
    --navyblue: #000080;
}
@import url("");
* {
    font-family:'Courier New', Courier, monospace;
    padding:'Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box;
}

/* general styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* nav bar styling */
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
  }
  .navlist {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .contact {
    margin-left: auto;
  }

  .navlink {
    margin: 0 12px;
    color: var(--blackcolor);
    font-weight: 700;
  }
  .navlink a {
    color: var(--blackcolor);
    font-weight: bold;
  }
  
  
  .myname {
    font-size: 24px;
    color: var(--whitecolor);
    margin: 0 12px;
    font-weight: bold;
    border-radius: 50px;
    background-color: var(--blackcolor);
    border-spacing: 10px;
    border: var(--whitecolor);
    border-width: 10px;
    padding: 8px 20px;
  }
/* about me styling */
.pfp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .pfp-mask {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    overflow: hidden;
    box-shadow: 20px 20px 20px #286da1;
    margin-bottom: 28px;
  }
.pfp-image {
    width: 100%;
  
    /* fitting picture to website */
    transform: scale(1) translateY(-120px);
    padding-top: 8px;
  }
#aboutme {
    background-color: var(--navyblue);
    color: var(--whitecolor);
    padding: 50px;
}

.about-me {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

/* tech stack styling */
#techstack {
    padding: 50px;
}

.tech {
    display: inline-block;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.techimg {
    width: 100px;
    height: 100px;
    margin: 10px;
    object-fit: contain;
}

/* .techimg-javascript{
    width: 100px;
    height: 100px;
} */

.techname {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

/* project board styling */
#projects {
    padding: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    font-size: 36px;
    margin: 0 0 50px 0;
}

.project {
    margin-bottom: 50px;
    width: 100%;
}

.project img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.subtitle {
    margin: 0;
    font-size: 24px;
}

.summary {
    margin-top: 10px;
}

.links {
    margin-top: 20px;
}

.links a {
    display: inline-block;
    background-color: var(--navyblue);
    color: var(--whitecolor);
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}