@import url("");
* {
    font-family:'Courier New', Courier, monospace;
    padding:'Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box;
}

/* general styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* nav bar styling */
#navbar {
    background-color: black;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    font-size: 18px;
}

nav ul li.contact a {
    background-color: navy;
    border-radius: 5px;
    padding: 10px;
}

/* about me styling */
.pfp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .pfp-mask {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    overflow: hidden;
    box-shadow: 20px 20px 20px #286da1;
    margin-bottom: 28px;
  }
.pfp-image {
    width: 100%;
  
    /* fitting picture to website */
    transform: scale(1) translateY(-120px);
    padding-top: 8px;
  }
#aboutme {
    background-color: navy;
    color: white;
    padding: 50px;
}

.about-me {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

/* tech stack styling */
#techstack {
    padding: 50px;
}

.tech {
    display: inline-block;
    margin-right: 20px;
}

.techimg {
    width: 100px;
    height: 100px;
}

.techname {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

/* project board styling */
#projects {
    padding: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    font-size: 36px;
    margin: 0 0 50px 0;
}

.project {
    margin-bottom: 50px;
    width: 100%;
}

.project img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.subtitle {
    margin: 0;
    font-size: 24px;
}

.summary {
    margin-top: 10px;
}

.links {
    margin-top: 20px;
}

.links a {
    display: inline-block;
    background-color: navy;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}